// body {
//     background-color: #000000;
// }

// .nav {
//  display: none;
// }

// .copyright {
//     display: none;
// }

.dashboard {
    color: #ffffff;
    margin:0px;
    padding: 150px;
    background-color: #000000;
}