
body {
    background-color: #E1E1E1;
    margin: 0;
  padding: 0;
  }
  
  .App {
    font-family: sans-serif;
    text-align: center;
  }
  .nav{
    background-color: #1D1745;
    height: 73px;
    position: fixed;
  }
  .nav_link{
    size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
